@model Pet;

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.img" alt="@Model.name">
    <h2> @Model.name</h2>
    <p>@Model.shortDesc</p>
    <p><a class="btn btn-warning" asp-controller="PetCart" asp-action="Index" asp-route-id="@Model.Id">Подробнее</a></p>
</div>